*{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

body {
  text-align: center;
  color: #222;
  font-size: 24px; 
  font-family: sans-serif;
}

h1 {
  margin: 0;

}

.languages {
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.language {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: blanchedalmond;
  border: 1px solid #222;
  margin: 2px;
}

.voteCount {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language button {
  color: rgb(228, 189, 16);
  background-color: black;
  border: none;
  font-size: 20px;
  outline: none;
  padding: 5px;
  cursor: pointer;
}

.header {
  background-color: rgb(228, 189, 16);
  padding: 2rem;
  font-weight: bolder;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  padding: 1rem;
  background-color: rgb(228, 189, 16);

}
